[submodule "pack/plugins/start/lightline.vim"]
	path = pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "colors/vim-dim"]
	path = colors/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim.git
[submodule "pack/plugins/start/vim-lsp"]
	path = pack/plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
