[submodule "pack/plugins/start/vim-lsp"]
	path = pack/plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "pack/plugins/start/vim-dim"]
	path = pack/plugins/start/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim.git
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
